/HW1/build/
/HW1-2/nbproject/private/
/HW1-2/build/
/War/nbproject/private/
/War/build/
/Lab2/nbproject/private/
/Lab2/build/
/Lab3/nbproject/private/
/Lab3/build/
/Lab3/dist/
/WebParser/nbproject/private/
/WebParser/build/
/HW2/nbproject/private/
/HW2/build/