/HW1/build/
/HW1-2/nbproject/private/
/HW1-2/build/
/War/nbproject/private/
/War/build/
/Lab2/nbproject/private/
/Lab2/build/
/Lab3/nbproject/private/
/Lab3/build/
/Lab3/dist/
/WebParser/nbproject/private/
/WebParser/build/
/HW2/nbproject/private/
/HW2/build/
/HW2-2/nbproject/private/
/HW2-2/build/
/Project 1/nbproject/private/
/Lab4/nbproject/private/
/Lab4/dist/
/Lab4/build/
/HW3/nbproject/private/
/HW3/build/
/HW3-2/nbproject/private/
/HW3-2/build/
/Lab5/nbproject/private/
/Lab5/build/
/Project 1/build/
/Project 1/dist/
/Lab6/nbproject/private/
/Lab6/build/